<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quseit.payapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.premission.ACCESS_FRONT_CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme"
        android:name=".base.BaseApplication">
        <activity android:name=".WelcomeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/WelcomeTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".bussiness.main.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".bussiness.pay.PaymentActivity"
                  android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".bussiness.description.DescriptionActivity"
                  android:windowSoftInputMode="adjustPan|stateAlwaysVisible"
                  android:screenOrientation="portrait"
            />


        <activity
            android:name="com.landicorp.android.scan.scanDecoder.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="scan Decoder" />
        <activity android:name="com.landicorp.android.scan.scanDecoder.SettingsActivity" />
    </application>

</manifest>